###### шрифты #######
#
sl_font=Orthodox.tt Ucs8 22
#default_font=Old Standard TT 18
#default_font=Irmologion Ucs 18
#default_font=Ostrog Ucs 18
#default_font=Pochaevsk Ucs 18
#default_font=Posad Ucs 18
#default_font=Triodion Ucs 18

gr_font=Old Standard TT 18

#####отображение текста в hip, или шрифтом####
default_style=slavonic
#default_style=plain
#
diacritics_off=True

######Группа книг, в которой искать по умолчанию
#
default_search_group=Богослужебные
#default_search_group=Свящ. Писание
#default_search_group=Все книги
#default_search_group=Четьи книги
#default_search_group=Акафисты
#default_search_group=Алфавит
#default_search_group=Апостол
#default_search_group=Часослов
#default_search_group=Треодь цветная
#default_search_group=Добротолюбие
#default_search_group=Экзапостилларии
#default_search_group=Евангелия
#default_search_group=Ифика
#default_search_group=Каноны
#default_search_group=Молитвы на молебнах
#default_search_group=Общая минея
#default_search_group=Октоих
#default_search_group=Пролог
#default_search_group=Книга правил
#default_search_group=Псалтырь
#default_search_group=Треодь постная
#default_search_group=Служебник
#default_search_group=Типикон
#default_search_group=Требник
#default_search_group=Ветхий Завет
#default_search_group=Минеи месячные

default_search_group_gr=Minologion_base

#####Путь к библиотеке греческих текстов
gr_path=/usr/local/lib/
#
#
#####Путь к библиотеке славянских текстов
sl_path=/usr/local/lib/hip_tools/

brackets_off=True
